.homeButton{
position: fixed;
top: 10%;
left: 5%;
transform: translate(-50%, -50%);
}

.enter{
   position: fixed;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.random, .start-stop, .random{
   
   flex-direction: row;
}